#screen {
     background-image: url(Bakgrunn.svg);
     background-size: cover;
     width: 100vw;
     height: 56.25vw;
     margin: auto;
     position: relative;
     overflow: hidden;
     top: 0vw;
     left: 0vw;
 }

/*Spillelementer*/

#nerd1 {
    background-image: url(Nerd.svg);
    background-repeat: no-repeat;
    width: 10vw;
    height: 17vw;
    top: 47vw;
    left: 25vw;
    position: absolute;
    background-size: 50%;
}

#nerd2 {
    background-image: url(Nerd.svg);
    background-repeat: no-repeat;
    width: 10vw;
    height: 17vw;
    top: 37vw;
    left: 50vw;
    position: absolute;
    background-size: 37%;
}

#nerd3 {
    background-image: url(Nerd.svg);
    background-repeat: no-repeat;
    width: 10vw;
    height: 17vw;
    top: 37vw;
    left: 93vw;
    position: absolute;
    background-size: 37%;
}

#nerd4 {
    background-image: url(Nerd.svg);
    background-repeat: no-repeat;
    width: 10vw;
    height: 17vw;
    top: 30vw;
    left: 20vw;
    position: absolute;
    background-size: 30%;
}

#nerd5 {
    background-image: url(Nerd.svg);
    background-repeat: no-repeat;
    width: 10vw;
    height: 17vw;
    top: 27vw;
    left: 60vw;
    position: absolute;
    background-size: 20%;
}

#gangster1 {
    background-image: url(Gangster.svg);
    background-repeat: no-repeat;
    width: 10vw;
    height: 17vw;
    top: 47vw;
    left: 35vw;
    position: absolute;
    background-size: 60%;
}

#gangster2 {
    background-image: url(Gangster.svg);
    background-repeat: no-repeat;
    width: 10vw;
    height: 17vw;
    top: 38vw;
    left: 60vw;
    position: absolute;
    background-size: 50%;
}

#gangster3 {
    background-image: url(Gangster.svg);
    background-repeat: no-repeat;
    width: 10vw;
    height: 17vw;
    top: 37vw;
    left: 14vw;
    position: absolute;
    background-size: 47%;
}

#gangster4 {
    background-image: url(Gangster.svg);
    background-repeat: no-repeat;
    width: 10vw;
    height: 17vw;
    top: 30vw;
    left: 90vw;
    position: absolute;
    background-size: 30%;
}

#gangster5 {
    background-image: url(Gangster.svg);
    background-repeat: no-repeat;
    width: 10vw;
    height: 17vw;
    top: 28vw;
    left: 40vw;
    position: absolute;
    background-size: 28%;
}

/*UI*/

#points {
    background-image: url(point.svg);
    background-repeat: no-repeat;
    width: 10vw;
    height: 17vw;
    top: 0vw;
    left: 0vw;
    position: absolute;
    background-size: 60%;
}

#point-1 {
    background-image: url(point-1.svg);
    background-repeat: no-repeat;
    width: 10vw;
    height: 17vw;
    top: 0.5vw;
    left: 6vw;
    position: absolute;
    background-size: 35%;
}

#point-2 {
    background-image: url(point-2.svg);
    background-repeat: no-repeat;
    display: none;
    width: 10vw;
    height: 17vw;
    top: 0.5vw;
    left: 6vw;
    position: absolute;
    background-size: 35%;
}

#point-3 {
    background-image: url(point-3.svg);
    background-repeat: no-repeat;
    display: none;
    width: 10vw;
    height: 17vw;
    top: 0.5vw;
    left: 6vw;
    position: absolute;
    background-size: 35%;
}

#point-4 {
    background-image: url(point-4.svg);
    background-repeat: no-repeat;
    display: none;
    width: 10vw;
    height: 17vw;
    top: 0.5vw;
    left: 6vw;
    position: absolute;
    background-size: 35%;
}

#point-5 {
    background-image: url(point-5.svg);
    background-repeat: no-repeat;
    display: none;
    width: 10vw;
    height: 17vw;
    top: 0.5vw;
    left: 6vw;
    position: absolute;
    background-size: 35%;
}

#point-6 {
    background-image: url(point-6.svg);
    background-repeat: no-repeat;
    display: none;
    width: 10vw;
    height: 17vw;
    top: 0.5vw;
    left: 6vw;
    position: absolute;
    background-size: 35%;
}

#point-7 {
    background-image: url(point-7.svg);
    background-repeat: no-repeat;
    display: none;
    width: 10vw;
    height: 17vw;
    top: 0.5vw;
    left: 6vw;
    position: absolute;
    background-size: 35%;
}

#point-8 {
    background-image: url(point-8.svg);
    background-repeat: no-repeat;
    display: none;
    width: 10vw;
    height: 17vw;
    top: 0.5vw;
    left: 6vw;
    position: absolute;
    background-size: 35%;
}

#point-9 {
    background-image: url(point-9.svg);
    background-repeat: no-repeat;
    display: none;
    width: 10vw;
    height: 17vw;
    top: 0.5vw;
    left: 6vw;
    position: absolute;
    background-size: 35%;
}

#point-10 {
    background-image: url(point-10.svg);
    background-repeat: no-repeat;
    display: none;
    width: 10vw;
    height: 17vw;
    top: 0.5vw;
    left: 6vw;
    position: absolute;
    background-size: 35%;
}

#point-11 {
    background-image: url(point-11.svg);
    background-repeat: no-repeat;
    display: none;
    width: 10vw;
    height: 17vw;
    top: 0.5vw;
    left: 6vw;
    position: absolute;
    background-size: 35%;
}

#point-12 {
    background-image: url(point-12.svg);
    background-repeat: no-repeat;
    display: none;
    width: 10vw;
    height: 17vw;
    top: 0.5vw;
    left: 6vw;
    position: absolute;
    background-size: 35%;
}

#liv-1 {
    background-image: url(Strike-2.svg);
    background-repeat: no-repeat;
    width: 10vw;
    height: 20vw;
    top: 0vw;
    left: 93vw;
    position: absolute;
    background-size: 60%;
}

#liv-2 {
    background-image: url(Strike-2.svg);
    background-repeat: no-repeat;
    width: 10vw;
    height: 20vw;
    top: 0vw;
    left: 87vw;
    position: absolute;
    background-size: 60%;
}

#liv-3 {
    background-image: url(Strike-2.svg);
    background-repeat: no-repeat;
    width: 10vw;
    height: 20vw;
    top: 0vw;
    left: 81vw;
    position: absolute;
    background-size: 60%;
}

#klokke {
    background-image: url(Klokke.svg);
    background-repeat: no-repeat;
    width: 10vw;
    height: 17vw;
    top: 0.2vw;
    left: 51vw;
    position: absolute;
    background-size: 39%;
}

#viser {
    background-image: url(Viser.svg);
    background-repeat: no-repeat;
    width: 4vw;
    height: 4vw;
    top: 0.1vw;
    left: 52.9vw;
    position: absolute;
    background-size: 4%;
}






/*Startskjerm*/

#start {
    background-image: url(Spillskjerm_1.svg);
    background-repeat: no-repeat;
    display: none;
    z-index: 2;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    overflow: hidden;
    top: 13vw;
    left: 15vw;
    background-size: 70%;
}

#play {
    background-image: url(Play-knapp.svg);
    background-repeat: no-repeat;
    display: none;
    z-index: 3;
    width: 30vw;
    height: 17vw;
    top: 37vw;
    left: 40vw;
    position: absolute;
    background-size: 100%;

}

#settings-wheel {
    background-image: url(Settings-knapp.svg);
    background-repeat: no-repeat;
    display: none;
    z-index: 3;
    width: 30vw;
    height: 17vw;
    top: 15vw;
    left: 77vw;
    position: absolute;
    background-size: 16%;
}

/*Settings*/

#settings {
    background-image: url(Volume_1.svg);
    background-repeat: no-repeat;
    z-index: 2;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    overflow: hidden;
    top: 13vw;
    left: 25vw;
    background-size: 50%;
}

#exit {
     background-image: url(Exit.svg);
    background-repeat: no-repeat;
    z-index: 3;
    width: 1vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    overflow: hidden;
    top: 0.1vw;
    left: 90vw;
    background-size: 100%;
}

/*Spill slutt*/

#try-again {
    background-image: url(try-again.svg);
    background-repeat: no-repeat;
    display: none;
    z-index: 3;
    width: 30vw;
    height: 17vw;
    top: 37vw;
    left: 40vw;
    position: absolute;
    background-size: 100%;
}

#slutt-A {
    background-image: url(Slutt-A.svg);
    background-repeat: no-repeat;
    display: none;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    overflow: hidden;
    top: 13vw;
    left: 15vw;
    background-size: 70%;
}

#slutt-E {
    background-image: url(Slutt-E.svg);
    background-repeat: no-repeat;
    display: none;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    overflow: hidden;
    top: 13vw;
    left: 15vw;
    background-size: 70%;
}

#slutt-F {
    background-image: url(Slutt-F.svg);
    background-repeat: no-repeat;
    display: none;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    overflow: hidden;
    top: 13vw;
    left: 15vw;
    background-size: 70%;
}






